body {
    background-image:url(Images/basketball_wallpaper796.png);
    background-repeat: no-repeat;

    font-family: Arial, sans-serif;
    
}
.divShadowBox{

    background-color: white;
    box-shadow: 10px 10px 5px #888888;
}
.footer{
    margin-top: 30px;
}
tbody{

}
 thead{
    background-color: blue;
    color: white;
}
 section {
    padding: 1em;
}
h1
{
    font-size: 165%;
    margin-top: 0;
    margin-bottom: .3em;
}
p {
    margin-top: 1.8em;
    margin-bottom: .5em;
}
label
{
    float: left;
    width: 6em;
}
.entry
{
    margin-left: 1em;
    margin-bottom: .5em;
    width: 12em;
}
.validator {
    color: Green;
    margin-left: 1em;
}
.error {
    color: green;
}
#ValidationSummary1 {
    margin-top: 1em;
}
#txtID {
    width: 6em;
}
#btnAdd {
    margin-top: .5em;
    width: 10em;
}